* {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;

    box-sizing: border-box;
}

body {
    background-color: rgb(7, 20, 44);
    color: bisque;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    display: flex;
    align-items: center;

    padding: 5px;
}

.section {
    display: flex;

    justify-content: space-between;

    width: 300px;

    /* border: 1px solid red; */
}

.section p {
    display: flex;
    align-items: center;
}

#start {
    width: 150px;
    height: 30px;

    margin-bottom: 20px;

    border: none;
}

#start:hover {
    filter: brightness(50%);
    /* color: white; */

    cursor: pointer;
}

#output {
    height: 16px;
    margin: 10px;

    font-family: 'Courier New', Courier, monospace;
}

/* Config for Lightmode */

.light-bg {
    background-color: antiquewhite;
}

.light-txt {
    color: darkblue;
}

.light-btn {
    background-color: aquamarine;
    color: darkblue;
}

.toggle {
    --width: 40px;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) / 2);
    
    display: inline-block;
    cursor: pointer;
}

.toggle__input {
    display: none;
}

.toggle__fill {
    position: relative;

    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);

    background: #dddddd;
    transition: background 0.2s;
}

.toggle__input:checked ~ .toggle__fill{
    background: #009578;
}

.toggle__fill::after {
    content: "";
    
    position: absolute;
    top: 0;
    left: 0;
    
    height: var(--height);
    width: var(--height);
    
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    
    border-radius: var(--border-radius);

    transition: left ease-in-out .2s;
}

.toggle__input:checked ~ .toggle__fill::after {
    left: var(--height);

    transition: left ease-in-out .2s;
}